<a href="https://colab.research.google.com/github/faizanali02/googlecolab/blob/main/AI_Lab1_233574.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
! python --version

Python 3.12.11

In [26]:
# Step 1: Create a list with different data types (string, float, string,integer)
mylist = ["apple", 34.5, "banana", 9]

# Step 2: Print the entire list to verify its contents
print("Complete list:", mylist)

# Step 3: Access and print the first element (index 0)
print("First element:", mylist[0])

# Step 4: Access and print the last element using negative indexing

print("Last element:", mylist[-1])

# Step 6: Extract and print every second element using step in slicing
print("Every second element:", mylist[::2])


# Step 8: Append a new item to the list
mylist.append("grape")
print("List after appending 'grape':", mylist)

# Step 9: Remove a specific item from the list
mylist.remove("banana")
print("List after removing 'banana':", mylist)

# Step 10: Replace the value at index 1 with a new value
mylist[1] = 99.9
print("List after updating index 1:", mylist)

Complete list: ['apple', 34.5, 'banana', 9]
First element: apple
Last element: 9
Every second element: ['apple', 'banana']
List after appending 'grape': ['apple', 34.5, 'banana', 9, 'grape']
List after removing 'banana': ['apple', 34.5, 9, 'grape']
List after updating index 1: ['apple', 99.9, 9, 'grape']

 1. Write a program to check if a number is prime.

In [27]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Example test
num = 20
print(f"Is {num} prime? ->", is_prime(num))

Is 20 prime? -> False

2. Create a list of 10 numbers and print their average.

In [28]:
numbers = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
average = sum(numbers) / len(numbers)
print("Numbers:", numbers)
print("Average:", average)

Numbers: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
Average: 27.5

3. Store student names and marks in a dictionary and display the topper.

In [29]:
students = {
    "Alice": 88,
    "Bob": 92,
    "Charlie": 79,
    "David": 95,
    "Eve": 91
}

topper = max(students, key=students.get)
print("Students and marks:", students)
print("Topper:", topper, "with marks", students[topper])

Students and marks: {'Alice': 88, 'Bob': 92, 'Charlie': 79, 'David': 95, 'Eve': 91}
Topper: David with marks 95

4. Demonstrate set operations: union, intersection, difference.

In [30]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference (set1 - set2):", set1 - set2)
print("Difference (set2 - set1):", set2 - set1)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Difference (set2 - set1): {8, 6, 7}

5. Write a function to compute factorial using recursion.

In [31]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

num = 6
print(f"Factorial of {num} is", factorial(num))

Factorial of 6 is 720

6. Use a for loop to print the Fibonacci series up to n terms.

In [32]:
n = 10  # number of terms
a, b = 0, 1

print("Fibonacci series up to", n, "terms:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Fibonacci series up to 10 terms:
0 1 1 2 3 5 8 13 21 34

7. Read a string and count the number of vowels.

In [33]:
text = "Google Colab makes Python super handy"
vowels = "aeiouAEIOU"
count = sum(1 for char in text if char in vowels)

print("Input string:", text)
print("Number of vowels:", count)

Input string: Google Colab makes Python super handy
Number of vowels: 11

8. Create a tuple of numbers and find the maximum and minimum.

In [34]:
numbers_tuple = (12, 45, 67, 2, 34, 89, 23)
print("Numbers in tuple:", numbers_tuple)
print("Maximum:", max(numbers_tuple))
print("Minimum:", min(numbers_tuple))

Numbers in tuple: (12, 45, 67, 2, 34, 89, 23)
Maximum: 89
Minimum: 2

9. Create a program that asks for user input and reverses the string.

In [35]:
user_input = input("Enter a string: ")
reversed_string = user_input[::-1]
print("Reversed string:", reversed_string)

Enter a string: faizanali
Reversed string: ilanaziaf

In [36]:
print(1 + 3)
print(10 / 2)
print(5 * 2)

4
5.0
10